    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .float {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    
    .main-btn {
        background-color: #2d3e50;
        color: #fff;
        text-decoration: none;
        border-radius: 0%;
    }
    
    a:hover,
    a:focus {
        box-shadow: none;
    }
    
    .w15 {
        width: 150px;
    }
    /* start header*/
    
    header {
        box-shadow: 0px 20px 20px #eee;
    }
    
    .phone-us {
        height: auto;
        background-color: #2d3e50;
        color: #d2d2d2;
        margin: auto;
    }
    
    .phone-us>*,
    .phone-us ul {
        margin: auto;
    }
    
    .phone-us .phone {
        display: inline-block;
    }
    
    .phone-us .phone span {
        padding-right: 10px;
    }
    
    .phone-us .bor {
        border-right: 2px solid #5a7088;
    }
    
    .phone-us svg {
        padding: 3px;
    }
    
    .phone-us .phone:first-of-type svg {
        transform: rotate(-30deg);
    }
    
    .act {
        color: #7a323e;
    }
    
    .navbar {
        background-color: #f9f9f9;
        padding: 0;
    }
    
    .navbar img {
        width: 180px;
        padding: 10px;
        margin-left: 10px;
    }
    
    .navbar .activ {
        color: #e52125;
    }
    
    .activ :first-child:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #e52125;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(5px, 30px);
    }
    
    .nav-item {
        padding: 10px;
    }
    
    .nav-item div P {
        padding: 5px;
    }
    
    @media screen and (max-width: 990px) {
        .activ :first-child:after {
            transform: translate(0px, 00px)
        }
    }
    
    .nav-item div {
        border-left: 2px solid #ededed;
        padding-left: 7px;
    }
    
    .nav-item:last-child div {
        border: 0ch;
    }
    
    .link-acount {
        color: #2e3a46;
        margin: 20px;
    }
    
    .link-acount-1 {
        color: #fff;
        margin: 20px;
        font-size: 15px;
    }
    
    .link-acount:hover,
    .link-acount:focus,
    .link-acount-1:hover,
    .link-acount-1:focus {
        color: #fead38;
        text-decoration: none;
    }
    
    .link+.main-btn {
        border-radius: .25rem;
    }
    
    .main-btn:hover,
    .main-btn:focus {
        color: #f9f9f9;
        box-shadow: none;
    }
    /* end header */
    /* start about */
    
    .about {
        background-image: url(../imgs/BG.jpg);
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-size: cover;
    }
    
    .about .about-bank {
        line-height: 2;
        font-size: 23px;
    }
    
    .rotation {
        width: 40%;
    }
    
    .owl-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .owl-dots button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff !important;
        margin: 5px;
        border: 1.5px solid #cccbc9 !important;
    }
    
    .owl-dots button.active {
        border-color: #e12933!important;
    }
    
    .red {
        color: #a90c17;
    }
    
    .about .main-btn {
        width: 200px;
    }
    
    .paragraph {
        background-image: url(../imgs/about2.png);
        background-repeat: no-repeat;
    }
    
    @media screen and (max-width: 450px) {
        .paragraph {
            background-position-x: -280px;
        }
    }
    
    .paragraph .font {
        font-size: 19px;
        line-height: 2;
        color: #252525;
    }
    
    @media screen and (max-width: 750px) {
        .about {
            background-size: cover;
            background-position: right;
        }
        .rotation {
            width: 100%;
        }
    }
    /* end about */
    /* stat article */
    
    .under-line::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #e52125;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .articles .card .heart {
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
        padding: 10px;
        font-size: 25px;
        background-color: #2d3e50;
        color: #fff;
        border-radius: 50%;
    }
    
    .bg {
        background-color: #fdfdfd;
    }
    
    .articles .owl-nav {
        font-size: 100px;
        position: absolute;
        display: inline-block;
        right: 85%;
        top: -28%;
        color: #d5d5d5;
    }
    
    .articles .owl-nav button {
        margin: 10px;
        height: 50px;
        font-size: 20px
    }
    /* @media screen and (max-width: 600px) {
        .articles .owl-nav {
            right: 80%;
            top: -25%;
        }
    } */
    
    @media screen and (max-width: 750px) {
        .articles .owl-nav {
            right: 80%;
            top: -25%;
        }
    }
    
    @media screen and (max-width: 450px) {
        .owl-nav {
            top: -23%;
            right: 75%
        }
    }
    
    @media screen and (max-width: 320px) {
        .owl-nav {
            top: -25%;
            right: 65%
        }
    }
    
    .card a {
        width: 150px;
    }
    
    input[type="text"] {
        border: none;
        border-bottom-right-radius: 50rem;
        border-top-right-radius: 50rem;
        padding: 10px;
        color: #bababa;
    }
    
    @media screen and (max-width: 750px) {
        input[type="text"],
        ul.town li,
        ul.blood li {
            max-width: 150px;
        }
    }
    
    button.select {
        background-color: #fff;
        border: none;
        margin-left: 10px;
        border-bottom-left-radius: 50rem;
        border-top-left-radius: 50rem;
        padding: 10px;
        margin-right: -3px
    }
    /* end article */
    /* start asking */
    
    .bg {
        background-image: url(../imgs/subtle-pattern-1.jpg)
    }
    
    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        width: 175px;
        border: none;
        padding: 10px;
        border-top-right-radius: 50rem;
        border-bottom-right-radius: 50rem;
    }
    /* For IE10 */
    
    select::-ms-expand {
        display: none;
    }
    
    button.o-s {
        border: none;
        background-color: #fff;
        padding: 10px;
        border-top-left-radius: 50rem;
        border-bottom-left-radius: 50rem;
        margin: -3px;
    }
    
    .bgc {
        background-color: #fff;
        border-bottom-right-radius: 50rem;
        border-top-right-radius: 50rem;
        margin: 5px
    }
    
    .circle {
        background-color: #f8f8f8;
    }
    
    input[type="submit"] {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .sub {
        padding: 5px;
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: larger;
    }
    
    .snd-btn {
        background-color: #f6f6f6;
        color: #2d3e50;
        text-decoration: none;
        border-radius: 0%;
        width: 150px;
    }
    
    .snd-btn:hover,
    .snd-btn:focus {
        background-color: #2d3e50;
        color: #f6f6f6;
        box-shadow: none
    }
    
    @media screen and (max-width: 990px) {
        .bgc {
            border-top-right-radius: 50rem;
            border-top-left-radius: 50rem;
            border-bottom-right-radius: 0;
            width: min-content;
            margin: 5px 25px;
            display: inline-block;
        }
        .snd-btn {
            width: 140px;
        }
    }
    /* end asking */
    /* start conect */
    
    .contact {
        background-image: url(../imgs/call.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .w4 {
        width: 60%;
    }
    
    .w3 {
        width: 250px;
    }
    
    .colr {
        color: #4a4849;
    }
    /* end conect */
    /* start app */
    
    .app {
        background-image: url(../imgs/BG-phone.png);
    }
    
    .hei {
        height: 80%;
        margin: 30px 0px;
    }
    /* end app */
    /* start footer */
    
    footer.footer {
        background-color: #1a1f25;
        color: #dadada;
        font-size: small;
    }
    
    footer.footer ul {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }
    
    footer img:first-of-type {
        width: 150px;
    }
    
    footer+footer {
        background-color: #000;
        color: #dadada;
    }
    
    footer+footer ul {
        font-size: larger;
    }
    /* end footer */
    /* start we-are page */
    
    .img-weidth {
        width: 400px;
    }
    
    .para-we-are {
        font-size: 20px;
    }
    
    @media screen and (max-width:750px) {
        footer {
            text-align: center;
        }
    }
    
    @media screen and (max-width:450px) {
        .img-weidth {
            width: 200px;
        }
    }
    /* end we-are page */